.SellSafe__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.SellSafe__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.SellSafe__navbar-links_logo {
    margin-right: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.SellSafe__navbar-links_logo img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid;
    border-image: var(--gradient-bar);
    border-image-slice: 1;
}

.SellSafe__navbar-links_logo2 {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid;
    border-image: var(--gradient-bar);
    border-image-slice: 1;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: var(--font-family);
    background: linear-gradient(103.22deg, #ae67fa -13.86%, #00ffdd 79.55%);
    background-clip: text;
    -webkit-bakground-clip: text;
    -webkit-text-fill-color: transparent
}

.SellSafe__navbar-links_logo-icon {
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin-right: 3px;
    color: #00ffdd;
}


.SellSafe__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.SellSafe__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.SellSafe__navbar-links_container p,
.SellSafe__navbar-sign p,
.SellSafe__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}


.SellSafe__navbar-links_container p:hover {
    background: var(--gradient-bar);
    background-clip: text;
    -webkit-bakground-clip: text;
    -webkit-text-fill-color: transparent
    
}



.SellSafe__navbar-sign button,
.SellSafe__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 25px;
    font-size: 18px;
    background: #ff4820;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.SellSafe__navbar-sign button:hover {
    background: var(--gradient-bar);
    box-shadow:
        0 0 20px 6px #00ff9d,
        0 0 30px 12px #ae67fa,
        0 0 35px 15px #000000;
}

.SellSafe__navbar-menu_container button:hover {
    background: var(--gradient-bar);
    box-shadow:
        0 0 20px 6px #00ff9d,
        0 0 30px 12px #ae67fa,
        0 0 35px 15px #000000;
}

.SellSafe__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.SellSafe__navbar-menu svg {
    cursor: pointer;
}

.SellSafe__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.SellSafe__navbar-menu_container p {
    margin: 1rem 0;
}

.SellSafe__navbar-menu_container p:hover {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-bakground-clip: text;
    -webkit-text-fill-color: transparent
}

.SellSafe__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1200px) {
    .SellSafe__navbar-links_container {
        display: none;
    }

    .SellSafe__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .SellSafe__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .SellSafe__navbar {
        padding: 2rem;
    }

    .SellSafe__navbar-sign {
        display: none;
    }

    .SellSafe__navbar-menu_container {
        top: 20px;
    }

    .SellSafe__navbar-menu_container-links-sign {
        display: block;
    }
}