* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #040C18;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 50px;
    background-image: linear-gradient(#002853, #040c18);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#00ff9d 1.84%, #ae67fa 102.67%);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#ff8a71 1.84%, #ae67fa 102.67%)
}

body {
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);

}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-bakground-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-position: -100%;
    animation: animatedText 6s infinite linear alternate-reverse;
}

.gradient__bar {
    background: linear-gradient(103.22deg, #00ff9d, #ae67fa, #ff8a71, #ae67fa, #00ff9d, #ae67fa, #ff8a71, #ae67fa);
    background-size: 400% 400%;
    -webkit-animation: animatedBackground 30s ease infinite alternate-reverse;
    -moz-animation: animatedBackground 30s ease infinite alternate-reverse;
    animation: animatedBackground 30s ease infinite alternate-reverse;
}

@-webkit-keyframes animatedBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animatedBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes animatedBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes animatedText {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%
    }
}

@keyframes animatedText2 {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%
    }
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}